.landingPageContainer{
  width: 50%;
  height: 100vh;
  display:block;
  background-color:white;
  padding: 50px;
}

.landingTitle{
  text-align: center;
  margin-bottom: 10%;
}

.connexionTitle{
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: black;
}

.signUpButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.connexionTile{
  margin: 30px;
  height: 50px;
  width: 400px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(217deg, rgba(4, 155, 42, 0.8), rgb(142, 200, 255) 70.71%);
  color: white;
}

#forgot .connexionTile{
  background: linear-gradient(217deg, rgba(4, 155, 42, 0), rgba(142, 200, 255, 0) 70.71%);
  font-size: 24px;
  font-weight: light;
  color: black;

}


.connexionTile:hover{
  background-color:black;
}
