<div class="detailContainer">
  <div class="detailBoxe">
    <div>
      <p class="DetailTitle">Ses informations</p>
      <div class="informationContainer" *ngIf="informations">
        <p class="informationTitle">{{informations.name}}</p>

      </div>
    </div>
  </div>

  <div class="detailBoxe">
    <div>
      <p class="DetailTitle">Travaille habituellement avec</p>
      <div>
        <!-- <div *ngFor="let people of last">
          <img src="https://images.unsplash.com/photo-1553284965-fa61e9ad4795?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
          <p>Name</p>
        </div> -->
      </div>
    </div>
  </div>

  <div class="detailBoxe">
    <div>
      <p class="DetailTitle">Derniers cours</p>
    </div>
  </div>

</div>
