<div class="horsesDiv box">
  <app-big-title [title] = "'Nos chevaux'"></app-big-title>
  <app-main-displayer [contentList]="horses"></app-main-displayer>
</div>
<div class="boxesGrid">
<div class="storyDiv box mediumBox">
  <app-big-title [title] = "'Mes cours'"></app-big-title>
  <div>
    <app-my-courses></app-my-courses>
  </div>
</div>
<div class="teamDiv box mediumBox">
  <app-big-title [title] = "'Prochains cours'"></app-big-title>
  <div>
    <app-next-courses></app-next-courses>
  </div>
</div>
</div>
